.card-container {
	min-width: 340px;
	height: 422px;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	margin: 2rem 1rem;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
	background: #ffffff;
}

.apartment {
	flex: 2;
	height: 256px;
	border-radius: 8px 8px 0% 0%;
	object-fit: cover;
}

.address,
.buy-rate,
.info {
	margin: 1rem 2rem;
}

.address {
	color: #110229;
	font-size: 18px;
	font-weight: 500;
}

.buy-rate {
	display: flex;
	align-items: center;
}

.buy-rate button {
	margin-right: 2rem;
	color: #007882;
	padding: 0.5rem 1rem;
	border: 2px solid #007882;
	font-size: 14px;
	border-radius: 8px;
	font-weight: 500;
	transition: background 0.25s ease, color 0.5s ease;
}

.buy-rate button:hover {
	background: #007882;
	color: #ffffff;
}

.buy-rate h2 {
	color: #007882;
	font-size: 18px;
	font-weight: 500;
	margin-right: 2rem;
}

.info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.info img {
	vertical-align: middle;
}

.info h3 {
	font-size: 14px;
	color: #666666;
	font-weight: 400;
	display: inline;
	margin-left: 0.5rem;
	vertical-align: middle;
}

@media screen and (max-width: 1279px) {
	.info h3 {
		display: block;
	}

	.info {
		text-align: center;
	}

	.card-container {
		width: 340px;
		min-width: 0%;
	}
}
